* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #666666;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 15px;
}

.navLast {
    margin-left: 80px;
}

.navbar-items,
.navbar-items3 {
    cursor: pointer;

}

.navbar-items:hover,
.navbar-items3:hover {
    color: #999999;
}


/*-----------NAVBAR COMPLETED------------------------------*/
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    flex-direction: column;
    background-color: black;
    color: white;
}

.content2-span1-item4 a {
    color: #0000ffff;
    text-decoration: none;
}

.content2-div1 {
    margin: 10px 0px 30px 25px;
}

.content2-input1 {
    text-align: end;
    padding: 5px;
}

.content2-span1-item2 input,
.content2-span1-item2 button {
    height: 30px;
}

.content2-span1 {
    font-size: 15px;
}

.content-heading1 {
    font-size: 52px;
}

.content-p1 {
    font-size: 20px;
    color: #999999;
    margin-top: 15px;
}

.content-heading2 {
    margin-top: 35px;
}

.content2-div2-p {
    margin-left: 10px;
}

.content2-div2 {
    margin: 20px auto;

}

.content-span2 {
    font-size: 25px;
}

.content-span3 {
    background-color: #666666;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.icon {
    height: 20px;
}

.content-heading2 {

    color: #666666;

}

.content-heading2 a {
    color: #666666;
}

/*--------------------CONTENT 2----------------------------------------*/

.content2 {
    margin-top: 50px;
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #666666;
    margin-left: 190px;
    border-radius: 5px;
}

.content2-heading1 {
    background-color: rgba(19, 19, 19, 0.11);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 32px;
}

.content2-btn {
    background-color: #000;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 40px auto;
    border-radius: 3px;
}

.content2-btn:hover {
    color: #666666;
}

.content2-btn2 {
    color: #ffff;
    background-color: #999999;
    border: none;
    padding: 5px;
}

.content2-p1 {
    width: 100%;
    padding: 10px;
    font-size: 22px;

}

.content2-div2-heading {
    font-size: 22px;
    font-weight: 400;
}

.content2-item3 {
    padding: 10px;
}



.lineX {
    width: 100%;
    color: #999999;
    border: 1px solid;
}

.line {
    width: 80%;
    color: #999999;
    border: 1px solid;
    margin: 20px auto;

}

.line2 {
    width: 100%;
    border: 1px solid;
    color: #999999;
}


/*----------------------------FOOTER------------------------------------*/

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 20px 190px 10px 160px;
    margin-bottom: 100px;

}

.footer-content1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-content1 a {
    color: #0000ffff;
    text-decoration: none;
}

.footer-content2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}

.footer-content2 a {
    color: #0000ffff;
    text-decoration: none;
}

.del{
    text-align: center;
}